{
    "paths" : {
        "result_file" : "result.txt",
        "log_dir" : "/logs",

        "pretrain_dir" : {
            "Windows" : "D:\\Datasets\\Extreme Classification",
            "Linux" : "/raid/ravi/pretrain",
            "OSX" : "/Users/monojitdey/ml/datasets"
        },

        "dataset_dir" : {
            "Windows" : "D:\\Datasets\\Extreme Classification",
            "Linux" : "/raid/ravi/Datasets/Extreme Classification",
            "OSX" : "/Users/monojitdey/ml/datasets"
        }
    },

    "model" : {
        "num_folds" : 5,
        "max_nb_words" : 20000,
        "max_sequence_length" : 100,
        "embedding_dim" : 300,
        "hid_size" : 100,
        "input_size" : 300,
        "learning_rate" : 1e-03,
        "lr_decay" : 1e-6,
        "weight_decay" : 1e-4,
        "optim" : "adam",
        "dropout" : 0.2,
        "clipnorm" : 3.0,
        "data_slice" : 5120,

        "num_epochs" : 30,
        "num_train_epoch" : 20,
        "batch_size" : 32,
        "num_cat" : 20,
        "samples_per_category" : 25
    },

    "data" : {
        "dataset_name" : "AmazonCat-13K",
        "val_split" : 0.2,
        "test_split" : 0.3
    },

    "fastai_datasets" : {
        "ag_news_csv"               : "https://s3.amazonaws.com/fast-ai-nlp/ag_news_csv",
        "amazon_review_full_csv"    : "https://s3.amazonaws.com/fast-ai-nlp/amazon_review_full_csv",
        "amazon_review_polarity_csv": "https://s3.amazonaws.com/fast-ai-nlp/amazon_review_polarity_csv",
        "dbpedia_csv"               : "https://s3.amazonaws.com/fast-ai-nlp/dbpedia_csv",
        "sogou_news_csv"            : "https://s3.amazonaws.com/fast-ai-nlp/sogou_news_csv",
        "yahoo_answers_csv"         : "https://s3.amazonaws.com/fast-ai-nlp/yahoo_answers_csv",
        "yelp_review_full_csv"      : "https://s3.amazonaws.com/fast-ai-nlp/yelp_review_full_csv",
        "yelp_review_polarity_csv"  : "https://s3.amazonaws.com/fast-ai-nlp/yelp_review_polarity_csv"
    },

    "xc_datasets" : {
        "AmazonCat-14K"    : "json",
        "Amazon-3M"        : "json",
        "Delicious-T140"   : "html",
        "Wiki10-31K"       : "html",
        "AmazonCat-13K"    : "txt",
        "Amazon-670K"      : "txt",
        "EurLex"           : "uniq"
    }
}