{
    "paths" : {
        "sklearn_dir":"D:\\Datasets\\Extreme Classification",
        "train_dir" : "/train",
        "test_dir" : "/val",
        "result_file" : "result.txt",
        "log_dir" : "/logs",

        "pretrain_dir" : {
            "win" : "D:\\Datasets\\Extreme Classification",
            "nix" : "/home/cs16resch01001/datasets/Extreme Classification",
            "osx" : "/Users/monojitdey/ml/datasets"
        },

        "dataset_dir" : {
            "win" : "D:\\Datasets\\nlp",
            "nix" : "/home/cs16resch01001/datasets/Extreme Classification",
            "osx" : "/Users/monojitdey/ml/datasets"
        }
    },

    "model" : {
        "num_folds" : 5,
        "max_nb_words" : 20000,
        "max_sequence_length" : 100,
        "embedding_dim" : 300,
        "batch_size" : 64,
        "lstm_dim" : 300,
        "learning_rate" : 0.003,
        "dropout" : 0.2,
        "num_epochs" : 1
        "clipnorm" = 5.0
        "data_slice" = 5120
    },

    "data" : {
        "dataset_name" : "ag_news_csv",
        "val_split" : 0.2,
        "test_split" : 0.3,
        "num_classes" : 4
    },

    "fastai_datasets" : {
        "ag_news_csv"               : "https://s3.amazonaws.com/fast-ai-nlp/ag_news_csv",
        "amazon_review_full_csv"    : "https://s3.amazonaws.com/fast-ai-nlp/amazon_review_full_csv",
        "amazon_review_polarity_csv": "https://s3.amazonaws.com/fast-ai-nlp/amazon_review_polarity_csv",
        "dbpedia_csv"               : "https://s3.amazonaws.com/fast-ai-nlp/dbpedia_csv",
        "sogou_news_csv"            : "https://s3.amazonaws.com/fast-ai-nlp/sogou_news_csv",
        "yahoo_answers_csv"         : "https://s3.amazonaws.com/fast-ai-nlp/yahoo_answers_csv",
        "yelp_review_full_csv"      : "https://s3.amazonaws.com/fast-ai-nlp/yelp_review_full_csv",
        "yelp_review_polarity_csv"  : "https://s3.amazonaws.com/fast-ai-nlp/yelp_review_polarity_csv"
    },

    "xc_datasets" : {
        "AmazonCat-14K"    : "json",
        "Amazon-3M"        : "json",
        "Delicious-T140"   : "html",
        "Wiki10-31K"       : "html",
        "AmazonCat-13K"    : "txt",
        "Amazon-670K"      : "txt",
        "EurLex"           : "uniq"
    }
}